*, *::before, *::after{
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
    font-weight: normal;
}

body{
    padding: 100px;
    margin: 100px;
    background: linear-gradient(to right, blue,green);

}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    grid-template-columns: repeat(4,90px);
    grid-template-rows: minmax(100px,auto) ,repeat(5,100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px;
    outline: none;
    background-color: antiquewhite;
}

.calculator-grid > button:hover{
    background-color: aquamarine;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: azure;
    font-size: 1.5rem;
}

.output .current-operand{
    color: azure;
    font-size: 3.5rem;
}